@model Sistema_Subastas.Models.pujas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pujas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.articulo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.articulo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_puja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_puja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
