@model Sistema_Subastas.Models.disputas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>disputas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.articulo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.articulo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comprador_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comprador_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendedor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendedor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
