@model IEnumerable<Sistema_Subastas.Models.disputas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    <a class="btn btn-danger mb-3" asp-action="DescargarReporteDisputas">
        <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
    </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>Artículo</th>
            <th>Comprador</th>
            <th>Vendedor</th>
            <th>Motivo</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @ViewBag.Articulos[item.articulo_id] (ID: @item.articulo_id)
                </td>
                <td>
                    @ViewBag.Usuarios[item.comprador_id]
                </td>
                <td>
                    @ViewBag.Usuarios[item.vendedor_id]
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    <a class="btn btn-sm btn-warning"
                       asp-controller="Disputas"
                       asp-action="Create"
                       asp-route-articulo_id="@item.articulo_id"
                       asp-route-vendedor_id="@item.vendedor_id">
                        Crear Disputa
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
