@model List<Sistema_Subastas.Models.usuarios>

@{
    ViewData["Title"] = "Reporte de Usuarios";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";

}

<h2 class="text-center">Reporte de Usuarios Registrados</h2>
@* //<link href="../css_R/Style1.css" rel="stylesheet" /> *@
<link href="~/css/Graficar.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<form asp-action="GenerarReporte" method="post" class="mt-3">
    <div class="row">
        <div class="col-md-4">
            <label>Fecha Inicio:</label>
            <input type="date" name="fechaInicio" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label>Fecha Fin:</label>
            <input type="date" name="fechaFin" class="form-control" required />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn colorCafe mt-4">Mostrar Reporte</button>
        </div>
    </div>
</form>

@if (Model != null && Model.Any())
{
	<br />
    <form asp-action="GenerarPDF" method="post">
        <input type="hidden" name="fechaInicio" value="@ViewData["fechaInicio"]" />
        <input type="hidden" name="fechaFin" value="@ViewData["fechaFin"]" />
        <button type="submit" class="btn btn-outline-secondary colorCafe">Descargar PDF</button>
    </form>
    <div class="mt-4">
        <h4>Usuarios registrados en el período seleccionado:</h4>
        <table class="table table-bordered table-striped">
            <thead class="table colorc">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.id</td>
                        <td>@usuario.nombre</td>
                        <td>@usuario.fecha_registro.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>

        
    </div>
}


