@* @model Sistema_Subastas.Models.imagenes_articulos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>imagenes_articulos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.articulo_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.articulo_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url_imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url_imagen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@

@model Sistema_Subastas.Models.imagenes_articulos

<h2>Detalles de la Imagen</h2>

<div>
    <p><strong>ID:</strong> @Model.id</p>
    <p><strong>Artículo ID:</strong> @Model.articulo_id</p>
    <p><strong>Imagen:</strong></p>
    <img src="@Model.url_imagen" alt="Imagen del artículo" style="width: 300px; height: auto;" />
</div>

<a asp-action="Index">Volver a la lista</a>
