@model List<Sistema_Subastas.Models.imagenes_articulos>


<!DOCTYPE html>
<html lang="es">
<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/css_E/StyleE.css")" />



</head>
<body>
    <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
        <a asp-controller="Imagenes_articulos"
           asp-action="Index"
           class="btn_volver flex items-center justify-center  text-sm font-medium text-gray-900 focus:outline-none bg-gray-200 rounded-lg border border-gray-300 hover:bg-gray-300
                          hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800
                          dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
           role="button">
            <svg class="w-5 h-5 -ms-2 me-2"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="none"
                 viewBox="0 0 24 24">
                <path stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
            Volver
        </a>
        <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
            
            <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 item-subasta">
                

                <div id="carouselArticulo" class="carousel slide mt-lg-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var imagen = Model[i];
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="@imagen.url_imagen" class="d-block w-100 img-zoom" alt="Imagen de @ViewBag.Articulos.titulo" />
                            </div>
                        }
                    </div>

                    <button class="carousel-control-prev custom-carousel-btn " type="button" data-bs-target="#carouselArticulo" data-bs-slide="prev">
                        <span class="custom-arrow bg-black" aria-hidden="true">&#10094;</span>
                    </button>

                    <button class="carousel-control-next custom-carousel-btn " type="button" data-bs-target="#carouselArticulo" data-bs-slide="next">
                        <span class="custom-arrow bg-black" aria-hidden="true">&#10095;</span>
                    </button>
                </div>

                <div class="mt-6 sm:mt-8 mt-lg-5">
                    
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-dark">
                        @ViewBag.Articulos.titulo
                    </h1>

                    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
                    <div class=" d-flex">
                        <h5>Vendedor: </h5>
                        <p class="texto">@ViewBag.Vendedor</p>
                        
                    </div>

                    <div class=" d-flex">
                        <h5>Precio de salida: </h5>
                        <p class="precio">$ @ViewBag.Articulos.precio_salida</p>
                    </div>

                    <div class=" mt-4 ">
                        <h5 class="fecha_subasta">Finaliza en: @ViewBag.Fecha</h5>
                        
                    </div>


                    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
					<div class=" d-flex">
                        <h5>Estado del articulo: </h5>
                        <p class=" texto" fw-bold">@ViewBag.Articulos.estado</p>
					</div>
                    <div class=" d-flex">
                        <h5>Categoria: </h5>
                        <p class="texto">@ViewBag.CategoriaNombre</p>
                    </div>

                    <div class="">
                        <h5>Descripción: </h5>
                        <p class="texto" >@ViewBag.Articulos.descripcion</p>
                    </div>

                    
                    

                    <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
                    

                    <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
                        @if (ViewBag.Estado.ToString().Trim().Equals("Publicado")  )
                        {
                            <a asp-controller="Pujas"
                               asp-action="Realizar"
                               asp-route-id="@ViewBag.Articulos.Id"
                               title=""
                               id="btn_puja"
                               class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100
                                    hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800
                                    dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                               role="button">
                                <svg class="w-5 h-5 -ms-2 me-2"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                                </svg>
                                Realizar Oferta
                            </a>
                            @if (ViewBag.VerPuja.ToString().Trim().Equals("Abierto"))
                            {
                                <a asp-controller="Pujas"
                                   asp-action="VerPujas"
                                   asp-route-id="@ViewBag.Articulos.Id"
                                   id="ver_puja"
                                   class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-gray-200 rounded-lg border border-gray-300 hover:bg-gray-300
                                hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800
                                dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                   role="button">
                                    <svg class="w-5 h-5 -ms-2 me-2"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         fill="none"
                                         viewBox="0 0 24 24">
                                        <path stroke="currentColor"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M3 12l2-2 4 4 6-6 5 5" />
                                    </svg>
                                    Ver Pujas
                                </a>
                            }

                            <a asp-controller="Disputas"
                               asp-action="Create"
                               asp-route-articulo_id="@ViewBag.Articulos.Id"
                               asp-route-vendedor_id="@ViewBag.IdVendedor"
                               class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100
                                    hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800
                                    dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                               role="button" id="boton_reporte">
                                <svg class="w-5 h-5 -ms-2 me-2"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M12 5v14m7-7H5" />
                                </svg>
                                Reportar
                            </a>


                            @if (ViewBag.CantidadP == 0)
                            {

                                <div id="editarBtn" style="display: none;">
                                    <a href="/Articulos/Edit/@ViewBag.Articulos.Id"
                                       class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-lg">
                                        <svg class="w-5 h-5 -ms-2 me-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M16.862 3.487a2.41 2.41 0 0 1 3.41 3.41L6.412 20.758a1.5 1.5 0 0 1-.754.403l-3.003.584.585-3.002a1.5 1.5 0 0 1 .403-.754L16.862 3.487Z" />
                                        </svg>
                                        Editar Artículo
                                    </a>
                                </div>



                            }
                            
                        }


                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <!-- Modal para zoom -->
    <div id="imgModal" class="fixed inset-0 z-50 bg-black bg-opacity-80 hidden justify-center items-center">
        <span id="closeModal" class="absolute top-5 right-5 text-white text-3xl cursor-pointer">&times;</span>
        <img id="modalImage" class="max-h-[90vh] max-w-[90vw] object-contain rounded-lg" />
    </div>

    <script>
        document.querySelectorAll(".img-zoom").forEach(img => {
            const container = img.closest(".carousel-item");

            container.addEventListener("mousemove", (e) => {
                const rect = container.getBoundingClientRect();
                const x = e.clientX - rect.left;
                const y = e.clientY - rect.top;

                img.style.transformOrigin = `${x}px ${y}px`;
                img.style.transform = "scale(2)";
            });

            container.addEventListener("mouseleave", () => {
                img.style.transform = "scale(1)";
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let usuarioId = localStorage.getItem("userId");
            const idVendedor = "@ViewBag.IdVendedor";

           
            if (usuarioId && usuarioId === idVendedor) {
                document.getElementById("editarBtn").style.display = "flex";
                document.getElementById("btn_puja").style.display = "none";
                
                document.getElementById("boton_reporte").style.display = "none";

            }
        });
    </script>



</body>
</html>